form {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  color: #333c40;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}

a {
  background-color: #116fbf;
  color: #ffffff;
  border-color: #116fbf;
  border-radius: 15px;
  margin-right: 0.5em;
  border: 1px solid #007ad9;
  font-size: 14px;
  transition: background-color 0.2s, box-shadow 0.2s;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  position: relative;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
  box-sizing: border-box;
  width: 120px;
  height: 30px;
  padding: 0.429em 1em;
}
